{% load static %}
{% load crispy_forms_tags %}

{% include 'basic/header2.html' %}
<section class="slice slice-lg min-vh-100 d-flex align-items-center bg-section-secondary">
      <!-- SVG background -->
      <div class="bg-absolute-cover bg-size--contain d-none d-lg-block">
        <figure class="w-100">
          <img alt="Image placeholder" src="{% static 'assets/img/svg/backgrounds/bg-3.svg' %}" class="svg-inject">
        </figure>
      </div>
      <div class="container py-5 px-md-0 d-flex align-items-center">
        <div class="w-100">
          <div class="row row-grid justify-content-center justify-content-lg-between align-items-center">
            <div class="col-sm-8 col-lg-6 col-xl-5 order-lg-2">
              <div class="card shadow zindex-100 mb-0">
                <div class="card-body px-md-5 py-5">
                  <div class="mb-5">
                    <h6 class="h3">Wygeneruj nowe hasło</h6>
                    <p class="text-muted mb-0">Wpisz swój email, aby zrestartować hasło.</p>
                  </div>
                  <span class="clearfix"></span>
                  <form role="form">
                    <div class="form-group">
                      <label class="form-control-label">Email</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                        </div>
                        {{ form.as_p }}          
                           </div>
                    </div>
                    <div class="mt-4"><button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                        <span class="btn-inner--text">Zresetuj hasło</span>
                        <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                      </button></div>
                  </form>
                </div>
                <div class="card-footer px-md-5"><small>Nie masz konta?</small>
                  <a href="{% url 'authentications:signup' %}" class="small font-weight-bold">Rejestracja</a></div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1 d-none d-lg-block">
              <blockquote>
                <h3 class="h2 mb-4">Wygeneruj nowe hasło</h3>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'basic/footer.html' %}
