{% load static %}

<footer id="footer-main">
    <div class="footer footer-dark bg-primary">
      <div class="container">
        <div class="row pt-md">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <a href="{% static 'index.html">
              <img src="{% static 'assets/img/moje/logo.png' %} " alt="Footer logo" style="height: 70px;">
            </a>
            <p>Niezbędnik Emigranta to potral dla polaków mieszkających w Wielkiej Brytanii. Znajdziesz tu odpowiedź na każde pytanie, dotyczące emigracji na Wyspy Brytyjskie.</p>
          </div>
          <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
            <h6 class="heading mb-3">Konto</h6>
            <ul class="list-unstyled">
              <li><a href="{% static 'pages/account-profile.html">Ustawienia</a></li>
              <li><a href="{% static 'pages/account-settings.html">Zaloguj się</a></li>
              <li><a href="{% static 'pages/account-billing.html">Zarejestruj się</a></li>
              <li><a href="{% static 'pages/account-notifications.html">Wyloguj się</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
            <h6 class="heading mb-3">Najważniejsze linki</h6>
            <ul class="list-unstyled text-small">
              <li><a href="#">Porady Profesjonalistów</a></li>
              <li><a href="#">Ogłoszenia Polaków</a></li>
              <li><a href="#">Katalog Firm</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
            <h6 class="heading mb-3">Reklama</h6>
            <ul class="list-unstyled">
              <li><a href="#">Darmowa</a></li>
              <li><a href="#">Płatna</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
        </div>
        <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
          <div class="col-md-6">
            <div class="copyright text-sm font-weight-bold text-center text-md-left">
              &copy; 2020 <a href="https://dwdagency.uk" class="font-weight-bold" target="_blank">DwD Agency</a>. All rights reserved.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
            
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/webpixelsofficial" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
         
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/webpixels" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="{% static 'assets/js/purpose.core.js' %} "></script>
  <!-- Page JS -->
  <script src="{% static 'assets/libs/swiper/dist/js/swiper.min.js' %} "></script>
  <!-- Purpose JS -->
  <script src="{% static 'assets/js/purpose.js' %} "></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="{% static 'assets/js/demo.js' %} "></script>