{% load static %}
{% load crispy_forms_tags %}
{% include 'basic/header.html' %}
<div class="main-content">
    <!-- Cover (v3) -->
    <section class="spotlight bg-cover bg-size--cover" data-offset-top="#header-main" style="background-image: url('{% static "assets/img/backgrounds/img-1-1920x800.jpg" %}');">
      <div class="spotlight-holder">
        <span class="mask bg-gradient-primary opacity-6"></span>
        <div class="container d-flex align-items-center pt-9 pb-6 py-lg-0">
          <div class="col py-4">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 col-lg-7 text-center">
                <h1 class="text-white lh-150 mb-4">{{post.title}}</h1>
                <ul class="list-inline">
                  <li class="list-inline-item text-white">{{post.created_date}}</li>
                  <li class="list-inline-item text-white">Autor Destiny Erykah</li>
                </ul>
                <span class="clearfix"></span>
                <a href="#blogi" class="btn btn-white rounded-pill btn-icon mt-4">
                  <span class="btn-inner--text">Czytaj</span>
                  <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice">
      <div class="container" id="blogi">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <!-- Article body -->
            <article>
              <h1 class="text-primary lh-150 mb-5 text-center">{{post.title}}</h1>

              <p class="lead">
                  {{post.text}}
              </p> 
            </article>
            <hr>
            <h5 class="mb-4">Komentarze</h5>
            <div class="mb-3">
              {% for comment in comments %}

              <div class="media media-comment">
                <div class="media-body">
                  <div class="media-comment-bubble left-top">
                    <h6 class="mt-0">  {{ comment.name }}</h6>
                    <p class="text-sm lh-160">   {{ comment.body | linebreaks }}</p>
                    <div class="icon-actions">
                      <a href="#" class="love active">
                        <i class="fas fa-heart"></i>
                        <span class="text-muted">  {{ comment.created_on }}</span>
                      </a>
                     
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            
              {% if request.user.is_authenticated %}

             
              <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-center  btn-md">Dodaj komentarz</button>
               </form>
               {% else %}
               Zaloguj się lub zarejestruj aby dodawać komentarze
               {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include 'basic/footer.html' %}
