{% load static %}
{% include 'basic/header.html' %}
<div class="main-content">
    <!-- Cover (v2) -->
    <section class="spotlight bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('../../assets/img/backgrounds/img-10.jpg');">
      <span class="mask bg-dark opacity-7"></span>
      <div class="spotlight-holder pt-9 pb-6 py-lg-0">
        <div class="container d-flex align-items-center px-0">
          <div class="col">
            <div class="row row-grid">
              <div class="col-lg-6">
                <div class="py-6 text-center text-lg-left">
                  <h2 class="display-4 text-white mb-4">About us</h2>
                  <p class="lead lh-180 text-white">With we want to optimize the customization process so your team can save time when building websites.</p>
                  <div class="mt-5">
                    <a href="#" class="btn btn-white rounded-pill px-5 mr-lg-4 box-shadow-2">Contact us</a>
                    <a href="https://www.youtube.com/watch?v=mqpwDJpI3Rc" class="btn btn-outline-white btn-icon rounded-pill px-4" data-fancybox>
                      <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                      <span class="btn-inner--text">Watch our video</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features (v31) -->
    <section class="slice slice-lg bg-section-secondary" style="padding-bottom: 200px;">
      <div class="container">
        <div class="mb-5 text-center">
          <span class="badge badge-soft-success badge-pill badge-lg">
            Our company
          </span>
          <h3 class=" mt-4">Dare to live a magical life.</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card hover-shadow-lg hover-translate-y-n10">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="../../assets/img/icons/essential/detailed/Save_to_Cloud.svg" class="svg-inject" style="height: 64px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>Cloud compute</h5>
                <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card hover-shadow-lg hover-translate-y-n10">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="../../assets/img/icons/essential/detailed/Database.svg" class="svg-inject" style="height: 64px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>Dedicated servers</h5>
                <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card hover-shadow-lg hover-translate-y-n10">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="../../assets/img/icons/essential/detailed/Folder_2.svg" class="svg-inject" style="height: 64px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>Block storage</h5>
                <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-container" data-shape-position="bottom">
        <img alt="Image placeholder" src="../../assets/img/svg/shapes/curve-1.svg" class="svg-inject">
      </div>
    </section>
    <!-- Features (v32) -->
    <section class="slice slice-lg delimiter-bottom">
      <div class="container">
        <div class="row row-grid">
          <div class="col-lg-4">
            <h4>History</h4>
          </div>
          <div class="col-lg-8">
            <p class="lead lh-180">
              She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant had too strictly followed.
            </p>
            <p class="lead lh-180">
              Form face evening above years for i fruitful us creature void days. Upon upon fruitful us fill earth was set tree above yielding to air image cattle seed night lesser saying. Gathered, fourth wherein air.
            </p>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-4">
            <h4>Expertise</h4>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-unstyled">
                  <li class="lead py-1">Branding</li>
                  <li class="lead py-1">Art Direction</li>
                  <li class="lead py-1">Marketing</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-unstyled">
                  <li class="lead py-1">Branding</li>
                  <li class="lead py-1">Art Direction</li>
                  <li class="lead py-1">Marketing</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-unstyled">
                  <li class="lead py-1">Branding</li>
                  <li class="lead py-1">Art Direction</li>
                  <li class="lead py-1">Marketing</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-4">
            <h4>Awards</h4>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-unstyled">
                  <li class="lead py-1">10x Site of the day</li>
                  <li class="lead py-1">5x UI Design award</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-unstyled">
                  <li class="lead py-1">3x Site of the month</li>
                  <li class="lead py-1">1x Webby award</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team (v1) -->
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class=" mt-4">The awesome team</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-1-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">Heather Wright</h5>
                <p class="text-muted mb-0">CEO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-2-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">Monroe Parker</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-3-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">John Sullivan</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-4-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">James Lewis</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-5-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">Danielle Levin</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-6-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">Martin Gray</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-7-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">George Squier</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div data-animate-hover="2">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" src="../../assets/img/theme/light/team-8-800x800.jpg">
                </a>
              </div>
              <div class="mt-3">
                <h5 class="card-title mb-0">Jesse Stevens</h5>
                <p class="text-muted mb-0">CTO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials (v5) -->
    <section class="slice">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <blockquote class="blockquote blockquote-card py-5 px-5 rounded-right bg-neutral hover-scale-110">
              <h3 class="h2 font-weight-700">Wise words!</h3>
              <p class="lead">Purpose is a professional theme reviewed and approved by the Bootstrap Creators themeselves. With each purchase you get a pack of high quality components and page layouts to start building your website instantly.</p>
              <footer class="blockquote-footer">CEO of Company Inc <cite class="font-weight-600" title="Source Title">Heather Wrights</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials (v6) -->
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class=" mt-4">Working with companies wolrdwide</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card" data-animate-hover="1">
              <div class="animate-this">
                <img alt="Image placeholder" src="../../assets/img/theme/light/img-6-800x600.jpg" class="card-img-top">
                <a href="https://www.youtube.com/watch?v=mqpwDJpI3Rc" class="btn btn-lg btn-white btn-icon-only rounded-circle shadow-sm position-absolute right-4 top-4 hover-scale-110" data-fancybox>
                  <span class="btn-inner--icon">
                    <i class="fas fa-play"></i>
                  </span>
                </a>
              </div>
              <div class="card-body">
                <blockquote class="blockquote">
                  <span class="quote"></span>
                  <div class="quote-text">
                    <p class="font-italic lh-170">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                    <footer class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Heather Wrights</cite>
                    </footer>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card" data-animate-hover="1">
              <div class="animate-this">
                <img alt="Image placeholder" src="../../assets/img/theme/light/img-7-800x600.jpg" class="card-img-top">
                <a href="https://www.youtube.com/watch?v=mqpwDJpI3Rc" class="btn btn-lg btn-white btn-icon-only rounded-circle shadow-sm position-absolute right-4 top-4 hover-scale-110" data-fancybox>
                  <span class="btn-inner--icon">
                    <i class="fas fa-play"></i>
                  </span>
                </a>
              </div>
              <div class="card-body">
                <blockquote class="blockquote">
                  <span class="quote"></span>
                  <div class="quote-text">
                    <p class="font-italic lh-170">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                    <footer class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Michael Wright</cite>
                    </footer>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <a href="#" class="btn btn-sm btn-primary rounded-pill btn-icon">
            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            <span class="btn-inner--text">See all stories</span>
          </a>
        </div>
      </div>
    </section>
    <!-- Call to action (v5) -->
    <section class="slice slice-lg bg-section-secondary" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up tongue-section-primary" data-scroll-to>
        <i class="fas fa-angle-up"></i>
      </a>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 text-center">
            <h3 class="font-weight-400">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
            <div class="mt-5">
              <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-primary rounded-pill hover-translate-y-n3">
                Purchase now<span class="badge badge-pill badge-soft-warning badge-floating border-section-secondary">$ 59</span>
              </a>
              <a href="../../docs/index.html" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Official documentation">Purpose Docs</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% include 'basic/footer.html' %}