{% load static %}
{% include 'basic/header2.html' %}
<div class="main-content pt-5 mt-5">

  <section class="slice">
    <div class="container">
      <div class="row row-grid">
        <div class="col-lg-6">
          <div data-toggle="sticky" data-sticky-offset="30">
            <a href="" data-fancybox>
              {% if katalogg.image %}
              <img alt="Image placeholder" src="{{ katalogg.image.url }}" class="img-fluid">
              {% else %}
              {% endif %}
            </a>
      
          </div>
        </div>
        <div class="col-lg-6">
          <div class="pl-lg-5">
            <!-- Product title -->
            <h5 class="h4">{{katalogg.name}}</h5>
            <!-- Rating -->
            <div class="row align-items-center">
              
      
            </div>
            <!-- Description -->
            {% if katalogg.description %}
            <div class="py-4 my-4 border-top border-bottom">
              <h6 class="text-sm">Opis firmy: </h6>
              <p class="text-sm mb-0">
               {{katalogg.description}}
              </p>
            </div>
            {% else %}
            <p class="mb-5"></p>
            {% endif %}
            <dl class="row">
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">Adres</span></dt>
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.adres}}</span></dd>
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">Telefon</span></dt>
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.telefon}}</span></dd>
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">E-mail</span></dt>
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.mail}}</span></dd>
              {% if katalogg.www %}
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">Strona WWW</span></dt>
              
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.www}}</span></dd>
              
              {% else %}
               {% endif %}
               {% if katalogg.instagram %}
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">Instagram</span></dt>
              
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.instagram}}</span></dd>
              {% else %}    
              
              {% endif %}   
              {% if katalogg.fb %}
              
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">Facebook</span></dt>
              
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.fb}}</span></dd>
              {% else %}
          
              {% endif %}
              {% if katalogg.maps %}
              <dt class="col-sm-3"><span class="h6 text-sm mb-0">Google Maps</span></dt>
              
              <dd class="col-sm-9"><span class="text-sm">{{katalogg.maps}}</span></dd>
              {% else %}

              {% endif %}
            </dl>
            <!-- Size -->
    
     
          
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice clients">
    <h3 class=" mt-4 text-center">Najlepsze Polskie Firmy</h3>
    <div class="container">
      
      <div class="client-group row justify-content-center">
        
        {% for f in posty %}
        <div class="client col-lg-2 col-md-5 col-4 py-5">
          <a href="{% url 'katalog:firma_detail' pk=f.pk %}">
            {% if f.image %}
          <img  alt="{{ f.name }}" src="{{ f.image.url }}">
          {% else %}
          {% endif %}
        </a>
        </div>
{% endfor %}
      </div>
    </div>
  </section>

</div>

  {% include 'basic/footer.html' %}