{% load static %}
{% include 'basic/header.html' %}
<div class="main-content">
  <section class="slice slice-xl bg-cover bg-size--cover" data-offset-top="#header-main" style="background-image: url({% static 'assets/img/backgrounds/katalog.jpg' %}); background-position: center center;">
    <div class="spotlight-holder pt-5 pb-7 py-lg-0">
      <span class="mask bg-gradient-primary opacity-6"></span>
      <div class="container d-flex align-items-center">
        <div class="col">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-9 col-lg-7 text-center">
              <h2 class="h1 mb-4 text-white mt-5">Katalog </h2>
              <p class="lead lh-180 text-white">Dodaj swoją firmę za darmo, lub kup reklamę w naszym portalu, aby dotrzeć do nowych klientów.</p>
          
     
              <div class="mt-5">
                <a href="{% url 'app:kup' %}" class="btn btn-primary rounded-pill px-5 mr-lg-4 my-2">Kup reklamę</a>
                <a href="{% url 'katalog:dodajfirme' %}" class="btn btn-light rounded-pill px-5 mr-lg-4 my-2">Dodaj firmę za darmo</a>

              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Header (v16) -->
  
    <!-- Table (v1) -->
    <section class="slice slice-xl pb-6" data-offset-top="#header-main">
      <div class="container pt-0">
  <h2 class="text-center mb-4">Kategorie firm</h2>
        <div class="row row-grid delimiter-top">
          {% for k in kategoria %}

          <div class="col-lg-4 mt-5">
            <div class="d-flex align-items-center">
              <a href="{% url 'katalog:kategoria' pk=k.pk %}">
              <div class="icon-text px-4">
                <h5 class="mb-1">{{k.name}}</h5>
              </a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <div class="list-group container">
    
    
        <div class="list-group-item">
    <div class="media align-items-center">
        <div class="mr-3">
            
    
        </div>

        <div class="media-body">

        
            <h5 class="text-md d-block text-limit mb-2 ml-5 text-left"><u></u></h5>
     
        </div>
    
      
    </div>
        </div>
        

 
    </div>

    <section class="slice">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <blockquote class="blockquote blockquote-card py-5 px-5 rounded-right bg-neutral hover-scale-110">
              <h3 class="h2 font-weight-700">Najlepszy portal dla polaków w UK!</h3>
              <p class="lead">Ogłoszenie mojej firmy w portalu Nizbędnik Emigranta, przyczyniło się do wzrostu sprzedaży o 30% już w pierwszy miesiącu.</p>
              <footer class="blockquote-footer">CEO w TG & DC CODE <cite class="font-weight-600" title="Source Title">Daniel Czerepak</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials (v6) -->
    
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class=" mt-4">Porady profesjonalistów</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Posłuchaj co do powiedzenia mają najbardziej znani polacy w Wielkiej Brytanii.</p>
          </div>
        </div>
        <div class="row">
          {% for p in porady %}
          <div class="col-lg-6">
            <div class="card" data-animate-hover="1">
              <div class="animate-this">
                <iframe width="538" height="300" src="{{ p.film }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
                <span class="btn-inner--icon">
                  </span>
                </a>
              </div>
              <div class="card-body">
                <blockquote class="blockquote">
                  <span class="quote"></span>
                  <div class="quote-text">
                    <p class="font-italic lh-170">{{p.title}}.</p>
                    <footer class="blockquote-footer">
                      Nagrany przez <cite title="Source Title">{{p.author}}</cite>
                    </footer>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
        <div class="mt-5 text-center">
          
          <a href="{% url 'porady:porady_list' %}" class="btn btn-sm btn-primary rounded-pill btn-icon">
            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            <span class="btn-inner--text">Zobacz wszystkie porady</span>
          </a>
        </div>
      </div>
    </section>

    <!-- Call to action (v5) -->
    <section class="slice slice-lg bg-section-secondary" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up tongue-section-primary" data-scroll-to>
        <i class="fas fa-angle-up"></i>
      </a>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 text-center">
            <h3 class="font-weight-400">Jestem gotów aby reklamować się w  <span class="font-weight-700">Niezbędniku</span> Emigranta.</h3>
            <div class="mt-5">
              <a href="{% url 'app:kup' %}" class="btn btn-primary rounded-pill hover-translate-y-n3">
                Kup reklamę
              </a>
              <a href="{% url 'katalog:dodajfirme' %}" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Official documentation">Dodaj firmę za darmo</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
{% include 'basic/footer.html' %}