{% load static %}
{% include 'basic/header2.html' %}
<style>header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
    
  }
  .bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}
}</style>
<header>
  <div class="bg-overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'assets/img/film.mp4' %}" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <div class="py-lg-5 text-center">
                
          <h2 class="h1 text- mb-6">Niezbędnik Emigranta</h2>
          <h2 class="h5 text- mb-6">Portal stworzony, aby pomagać Polakom mieszkającym poza granicami Polski. <br>Znajdziesz tu porady, ogłoszenia i katalog firm. </h2>
          {% if user.is_authenticated %}
          {% else %}
          <a href="{% url 'authentication:signup' %}" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3 mt-5">
      
            <span class="btn-inner--icon">
              <i class="fas fa-user-plus"></i>
            </span>
            
            <span class="btn-inner--text">Utwórz konto</span>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="slice slice-lg pt-lg-0">
  <div class="container">
    <div class="card-group flex-column flex-lg-row">
      <div class="card bg-primary border-0 px-4 py-5 mt--150">
        <div class="card-body">
          <h5 class="h4 text-white">Porady Profesjonalistów</h5>
          <p class="mt-4 mb-0 text-white">
            Najpopularniejsi Polacy na emigracji, dzielą się z Tobą swoimi doświadczeniami. Przeczytasz tu przydatne porady biznesowe i życiowe. 
          </p>
        </div>
      </div>
      <div class="card bg-gradient-dark border-0 px-4 py-5 mt--150">
        <div class="card-body">
          <h5 class="h4 text-white">Katalog Firm</h5>
          <p class="mt-4 mb-0 text-white">
            Idealne miejsce dla przedsiębiorców. Dodaj swoją firmę, lub kup płatną reklamę w naszym katalogu i pozwól odnaleźć się tysiącom osób każdego dnia.
          </p>
        </div>
      </div>
      <div class="card bg-primary border-0 px-4 py-5 mt--150">
        <div class="card-body">
          <h5 class="h4 text-white">Portal Randkowy</h5>
          <p class="mt-4 mb-0 text-white">
            Doskwiera Ci samotność na emigracji? Dodaj ogłoszenie matrymonialne do naszego portalu randkowego i zwiększ szansę na poznanie miłości Twojego życia.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="main-content">
    <!-- Header (v6) -->
    
  
    <!-- Subscribe (v2) -->

    <!-- Clients (v1) -->
    <section class="slice clients">
      <h3 class=" mt-4 text-center">Najlepsze Polskie Firmy</h3>
      <div class="container">
        
        <div class="client-group row justify-content-center">
          
          {% for f in firmy %}
          <div class="client col-lg-2 col-md-5 col-4 py-5">
            <a href="{% url 'katalog:firma_detail' pk=f.pk %}">
              {% if f.image %}
            <img  alt="{{ f.name }}" src="{{ f.image.url }}">
            {% else %}
            {% endif %}
          </a>
          </div>
{% endfor %}
        </div>
      </div>
    </section>
    <!-- Features (v17) -->

    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class="">Porady profesjonalistów</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Posłuchaj co do powiedzenia mają najbardziej znani polacy w Wielkiej Brytanii.</p>
          </div>
        </div>
        <div class="row">
          {% for p in wideo %}
          <div class="col-lg-6">
            <div class="card" data-animate-hover="1">
              <div class="animate-this">
                <div class="iframe-container">

                <iframe width="538" height="300" src="{{ p.film }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
              </div>

                <span class="btn-inner--icon">
                  </span>
                </a>
              </div>
              <div class="card-body">
                <blockquote class="blockquote">
                  <span class="quote"></span>
                  <div class="quote-text">
                    <p class="font-italic lh-170">{{p.title}}.</p>
                    <footer class="blockquote-footer">
                      Nagrany przez <cite title="Source Title">{{p.author}}</cite>
                    </footer>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
        <div class="mt-5 text-center">
          
          <a href="{% url 'porady:porady_list' %}" class="btn btn-sm btn-primary rounded-pill btn-icon">
            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            <span class="btn-inner--text">Zobacz wszystkie porady</span>
          </a>
        </div>
      </div>
    </section>
    <!-- Pricing (v2) -->
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class=" mt-4">Cennik Reklamy</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Rozwijaj swoją firmę razem z nami!</p>
          </div>
        </div>
        <div class="pricing-container">
          <div class="text-center mb-7">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary active" data-pricing="monthly">Płatność miesięczna</button>
              <button type="button" class="btn btn-secondary" data-pricing="yearly">Płatność rocznie</button>
            </div>
          </div>
          <div class="pricing card-group flex-column flex-lg-row mb-3">
            <div class="card card-pricing text-center px-3 mb-5 mb-lg-0">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white">Darmowy</span>
              <div class="card-header py-5 border-0">
                <div class="h1 text-primary text-center mb-0" data-pricing-value="0">£<span class="price">0</span><span class="h6 ml-2"></span></div>
              </div>
              <div class="card-body delimiter-top">
                <ul class="list-unstyled mb-4">
                  <li>Nazwa Firmy</li>
                  <li>Adres</li>
                  <li>Nr. Telefonu</li>
                  <li>E-mail</li>
                </ul><button type="button" class="btn btn-sm btn-neutral mb-3">Zamów</button>
              </div>
            </div>
            <div class="card card-pricing popular scale-110 text-center px-3 mb-5 mb-lg-0">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white">Podstawowy</span>
              <div class="card-header py-5 border-0">
                <div class="h1 text-primary text-center mb-0" data-pricing-value="50">£<span class="price">5</span><span class="h6 ml-2"></span></div>
              </div>
              <div class="card-body delimiter-top">
                <ul class="list-unstyled mb-4">
                  <li>Pakiet Darmowy</li>
                  <li>Strona WWW</li>
                  <li>Linki do Social Media</li>
                  <li>Link do Google Maps</li>
                </ul><button type="button" class="btn btn-sm btn-neutral mb-3">Zamów</button>
              </div>
            </div>
            <div class="card card-pricing text-center px-3 mb-5 mb-lg-0">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white">Biznes</span>
              <div class="card-header py-5 border-0">
                <div class="h1 text-primary text-center mb-0" data-pricing-value="100">£<span class="price">10</span><span class="h6 ml-2"></span></div>
              </div>
              <div class="card-body delimiter-top">
                <ul class="list-unstyled mb-4">
                  <li>Pakiet podstawowy</li>
                  <li>1 Wpis na Blogu</li>
                  <li>1 Film Video</li>
                  <li>1 Miejsce w kategorii</li>
                </ul><button type="button" class="btn btn-sm btn-neutral mb-3">Zamawiam</button>
              </div>
            </div>
            <div class="card card-pricing text-center px-3 mb-5 mb-lg-0">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white">Dla najlepszych</span>
              <div class="card-header py-5 border-0">
                <div class="h1 text-primary text-center mb-0" data-pricing-value="200">£<span class="price">20</span><span class="h6 ml-2"></span></div>
              </div>
              <div class="card-body delimiter-top">
                <ul class="list-unstyled mb-4">
                  <li>Pakiet Biznes</li>
                  <li>2 Wpisy na Blogu</li>
                  <li>2 Filmy Video</li>
                  <li>Logo firmy w polecanych</li>
                </ul><button type="button" class="btn btn-sm btn-neutral mb-3">Zamawiam</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials (v3) -->

    <!-- Blog (v1) -->
    <section class="slice-xl delimiter-top">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class=" mt-4">Ostatnie wpisy na blogu</h3>
        </div>
        <div class="row">
          {% for p in wpisy %}

          <div class="col-lg-4">
            <div class="mb-5 mb-lg-0" data-animate-hover="1">
              <div class="animate-this">
                <a href="#">
                  <img alt="Image placeholder" class="img-fluid rounded shadow" style="height: 188.05px;" src="{{p.imgglowne.url}}">
                </a>
              </div>
              <div class="pt-4">

                <small class="text-uppercase">{{p.created_date}}</small>
                <h5>{{p.title1}}</h5>
                <p class="mt-3">{{p.text1|slice:":93" }}...</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- Call to action (v5) -->

{% include 'basic/footer.html' %}
</body>

</html>