{% load static %}
{% include 'basic/header.html' %}

<div class="main-content">
    <!-- Header -->
    <section class="slice slice-xl bg-cover bg-size--cover" data-offset-top="#header-main" style="background-image: url({% static 'assets/img/backgrounds/ogloszenia.jpg' %}); background-position: center center;">
      <span class="mask bg-primary opacity-4"></span>
      <div class="container py-6">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 class="h1 text-white">Ogłoszenia Polaków</h2>
        
            <p class="lead text-white mt-4">Pomagajmy sobie na wzajem.<br> Zadaj pytanie, lub odpowiedz na pytania innych.</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'ogloszenia:dodaj' %}" class="btn btn-white rounded-pill mt-4 shadow hover-shadow-lg hover-translate-y-n3">Dodaj Ogłoszenie</a>

{% else %}
            <a href="{% url 'authentications:login' %}" class="btn btn-white rounded-pill mt-4 shadow hover-shadow-lg hover-translate-y-n3">Zarejestruj się, aby dodawać i komentować posty</a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!-- Products -->
    <section class="slice slice-lg delimiter-bottom" id="sct-products">
      <div class="container">
        <div class="row">
          {% for x in kategorie %}
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="card card-product">
              <div class="card-image">
             
              </div>
              <div class="card text-center hover-shadow-lg hover-translate-y-n13 pt-0">
                <h6><a href="{% url 'ogloszenia:kategoria' pk=x.pk %}">{{x.nazwa}}</a></h6>
                <p class="text-sm">
                  
                </p>
                
             
              </div>
        
            </div>
          </div>
{% endfor %}
        </div>
        <!-- Load more -->
  
      </div>
    </section>
    
    <section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url({% static 'assets/img/backgrounds/img-15.jpg' %}); background-position: center center;">
      <span class="mask bg-primary opacity-9"></span>
      <div class="container py-6">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-xl-7 text-center">
            <div class="mb-5">
              <h1 class="text-white">Polska Społeczność w UK</h1>
              <p class="lead text-white mt-2">Misją naszego portalu jest pomaganie sobie nawzajem. Po rejestracji, możesz zadawać pytania i odpowiadać na pytania innych.</p>
            </div>
            <a href="#" class="btn btn-white btn-icon rounded-pill shadow hover-shadow-lg hover-translate-y-n3">
              <span class="btn-inner--text">Zarejestruj się</span>
              <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="slice clients">
      <h3 class=" mt-4 text-center">Najlepsze Polskie Firmy</h3>
      <div class="container">
        
        <div class="client-group row justify-content-center">
          
          {% for f in posty %}
          <div class="client col-lg-2 col-md-5 col-4 py-5">
            <a href="{% url 'katalog:firma_detail' pk=f.pk %}">
              {% if f.image %}
            <img  alt="{{ f.name }}" src="{{ f.image.url }}">
            {% else %}
            {% endif %}
          </a>
          </div>
  {% endfor %}
        </div>
      </div>
    </section>

  </div>

  {% include 'basic/footer.html' %}