{% load static %}
  {% include 'basic/header.html' %}
<section class="slice slice-lg bg-gradient-primary">

    <div class="container">
      <div class="mb-5 text-center">
        <h1 class="text-white mt-5">{{kategoriaa.nazwa}}</h1>

      </div>
     
    </div>
  </section>
  <section class="slice slice-lg bg-section-secondary overflow-hidden">
    <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
      <figure class="w-100">
        <img alt="Image placeholder" src="{% static 'assets/img/svg/backgrounds/bg-2.svg' %}" class="svg-inject" style="height: 1000px;">
      </figure>
    </div>
    <div class="container position-relative zindex-100">
      <div class="mb-5 px-3 text-center">
  
        <h3 class=" mt-4">Lista ogłoszeń:</h3>
        <div class="fluid-paragraph mt-3">
        </div>
      </div>
      <div class="row">
        {% for k in ogl %}

        <div class="col-lg-4">

          <div class="card px-3">
            <div class="card-body py-5">
              <div class="d-flex align-items-center">
                <a href="{% url 'ogloszenia:detail' pk=k.pk %}">
                <div class="icon-text pl-4">
                  <h5 class="mb-0">{{k.tytul}}</h5>
                </div>
              </a>
              </div>
              <p class="mt-4 mb-0">{{k.opis|slice:":255"}}</p>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </section>
  <section class="slice slice-lg delimiter-bottom mt-5">
    <div class="container">
      <!-- Title -->
      <div class="mb-5 text-center">
        <h3 class="h3">Najlepsze polskie firmy w UK</h3>
      </div>
      <!-- Products -->
      <div class="row">

        {% for p in posty %}
        <div class="col-lg-3 col-sm-6">
          <div class="card card-product">
            <div class="card-image">
              <a href="{% url 'katalog:firma_detail' pk=p.pk %}">
                <img alt="Image placeholder" style="width: 250px; height: 50px;" src="{{ p.image.url }}" class="img-center img-fluid">
              </a>
            </div>
            <div class="card-body text-center pt-0">
              <h6><a href="#">{{p.name}}</a></h6>
          
            </div>
    
          </div>
        </div>
  {% endfor %}


      </div>
    </div>
  </section>
  {% include 'basic/footer.html' %}